footer {
    font-family: $bg-font;
}
.titulo-footer{
    background-color: $bg-colortitulos;
    padding:15px;
}

.footer-p{
    background-color: $bg-colortitulos;
    font-family: $bg-font;
    padding: 15px;
    width: 100%;
}